001-pre-market-briefing/v0.1.0-free/workflow-free.json
{
  "_meta": {
    "product": "floviq · 台股盤前情報每日推播",
    "edition": "free",
    "version": "0.1.0-free",
    "versionPolicy": "release-tag-namespace (v0.1.0-free / v0.1.1-free / v0.2.0-free)",
    "license": "personal-use-only",
    "homepage": "https://floviq.tw"
  },
  "name": "floviq · 001-pre-market-briefing (free)",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 1-5"
            }
          ]
        }
      },
      "notes": "排程：週一至週五 08:00 (Asia/Taipei) 自動觸發。要改時間：編 cron expression（格式：秒 分 時 日 月 週）。先手動 Execute 跑通再開 active。"
    },
    {
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegramChatId",
              "name": "telegramChatId",
              "value": "",
              "type": "string"
            },
            {
              "id": "topN",
              "name": "topN",
              "value": 5,
              "type": "number"
            },
            {
              "id": "watchlist",
              "name": "watchlist",
              "value": "",
              "type": "string"
            },
            {
              "id": "promptStyle",
              "name": "promptStyle",
              "value": "中性",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "📝 設定區（必填 telegramChatId）\n\n【欄位】\n• telegramChatId：Telegram 推播目標 chat.id（必填）\n• topN：法人 / 漲跌停 顯示前幾名（預設 5）\n• watchlist：自選股代號清單，逗號分隔（例：2330,2317,2454）。免費版預留欄位，付費版才啟用 highlight\n• promptStyle：AI 摘要語氣，三選一【保守 / 中性 / 活潑】\n\n【bot token 與 chat.id 怎麼拿】\n• 對 BotFather 送 /newbot 取 token；token 走 Credentials 不放這\n• 加 bot 為朋友後，訪 https://api.telegram.org/bot<TOKEN>/getUpdates 找 chat.id\n\n📌 環境提醒\nself-host 用戶：env 變數從 docker-compose 或 .env 設定\nn8n cloud 用戶：env 變數從 Settings → Variables 設定\n兩者操作位置不同但欄位名稱一樣"
    },
    {
      "id": "twse-t86-fetch",
      "name": "TWSE 法人買賣超",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.twse.com.tw/rwd/zh/fund/T86",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.setZone('Asia/Taipei').toFormat('yyyyMMdd') }}"
            },
            {
              "name": "selectType",
              "value": "ALL"
            },
            {
              "name": "response",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; floviq)"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "抓 TWSE 當日三大法人買賣超日報。盤前 / 假日資料還沒出時會回空，下游 Code node 會降級處理（不 crash）。"
    },
    {
      "id": "twse-mi-index-fetch",
      "name": "TWSE 大盤行情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.twse.com.tw/rwd/zh/afterTrading/MI_INDEX",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.setZone('Asia/Taipei').toFormat('yyyyMMdd') }}"
            },
            {
              "name": "type",
              "value": "ALLBUT0999"
            },
            {
              "name": "response",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; floviq)"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notes": "抓 TWSE 每日收盤行情（含全部上市股票 1300+ 筆 + 大盤指數）。下游用來判定漲跌停。回應約 200KB。"
    },
    {
      "id": "cnyes-fetch",
      "name": "CNYES 新聞",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        440
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.cnyes.com/media/api/v1/newslist/category/headline",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "notes": "抓鉅亨網台股財經頭條（latest 10）。下游 Code 用關鍵字過濾 → 取 top 3 給 AI。失敗時下游會降級為「新聞暫缺」訊息。"
    },
    {
      "id": "merge-sources",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        840,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "notes": "匯流三條資料源。下游 Format node 用節點名稱 reference 各自原始 JSON，本節點僅作流程匯合點。"
    },
    {
      "id": "format-data",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// floviq · pre-market-briefing · format & enrich data for AI prompt\n\nconst tpe = $now.setZone('Asia/Taipei');\nconst dateStr = tpe.toFormat('yyyy-MM-dd');\nconst weekdayMap = ['日', '一', '二', '三', '四', '五', '六'];\nconst weekday = weekdayMap[tpe.weekday % 7];\n\nconst cfg = $('Config').first().json;\nconst topN = Number(cfg.topN) || 5;\nconst promptStyle = cfg.promptStyle || '中性';\nconst watchlistStr = String(cfg.watchlist || '').trim();\nconst watchlist = watchlistStr ? watchlistStr.split(/[,，\\s]+/).map((s) => s.trim()).filter(Boolean) : [];\n\nconst toNum = (s) => {\n  const cleaned = String(s == null ? '' : s).replace(/<[^>]+>/g, '').replace(/[,\\s]/g, '').trim();\n  if (cleaned === '' || cleaned === '--') return 0;\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst lookup = (fields, candidates) => {\n  for (const name of candidates) {\n    const idx = fields.indexOf(name);\n    if (idx !== -1) return idx;\n  }\n  return -1;\n};\n\n// ---------- 1. TWSE T86 (法人買賣超) ----------\nlet foreignTopBuyText = '無資料';\nlet foreignTopSellText = '無資料';\nlet hasT86 = false;\ntry {\n  const t86 = $('TWSE 法人買賣超').first().json;\n  const fields = t86.fields || [];\n  const data = t86.data || [];\n  if (Array.isArray(fields) && Array.isArray(data) && data.length > 0) {\n    const codeIdx = lookup(fields, ['證券代號']);\n    const nameIdx = lookup(fields, ['證券名稱']);\n    const netIdx = lookup(fields, [\n      '外陸資買賣超股數(不含外資自營商)',\n      '外資及陸資(不含外資自營商)買賣超股數',\n      '外資買賣超股數',\n    ]);\n    if (codeIdx === -1 || nameIdx === -1 || netIdx === -1) {\n      throw new Error(`TWSE T86 schema 不符預期。fields=${JSON.stringify(fields)}`);\n    }\n    const rows = data\n      .map((r) => ({\n        code: String(r[codeIdx] || '').trim(),\n        name: String(r[nameIdx] || '').trim(),\n        net: toNum(r[netIdx]),\n      }))\n      .filter((r) => r.code);\n    const sortedDesc = [...rows].sort((a, b) => b.net - a.net);\n    const topBuy = sortedDesc.slice(0, topN);\n    const topSell = sortedDesc.slice(-topN).reverse();\n    const fmtK = (shares) => {\n      const k = Math.round(shares / 1000);\n      const sign = k > 0 ? '+' : '';\n      return `${sign}${k.toLocaleString('en-US')} 千股`;\n    };\n    foreignTopBuyText = topBuy.map((r, i) => `${i + 1}. ${r.code} ${r.name} ${fmtK(r.net)}`).join('\\n');\n    foreignTopSellText = topSell.map((r, i) => `${i + 1}. ${r.code} ${r.name} ${fmtK(r.net)}`).join('\\n');\n    hasT86 = true;\n  }\n} catch (e) {\n  // schema 變動時直接 throw 讓使用者看到，避免默默產出錯誤資料\n  if (String(e.message || '').includes('schema 不符預期')) throw e;\n  // 其他失敗（無資料 / 假日）→ 降級\n}\n\n// ---------- 2. TWSE MI_INDEX (大盤 + 漲跌停) ----------\nlet limitUpText = '無';\nlet limitDownText = '無';\nlet limitUpCount = 0;\nlet limitDownCount = 0;\nlet taiexText = '資料暫缺';\ntry {\n  const mi = $('TWSE 大盤行情').first().json;\n  const tables = mi.tables || [];\n  if (Array.isArray(tables) && tables.length > 0) {\n    // 找含全部股票的 table（fields 含「收盤價」「漲跌(+/-)」「漲跌價差」）\n    const stocksTable = tables.find((t) => {\n      const f = t && t.fields;\n      return Array.isArray(f) && f.includes('收盤價') && f.includes('漲跌(+/-)') && f.includes('漲跌價差');\n    });\n    if (stocksTable) {\n      const f = stocksTable.fields;\n      const codeIdx = lookup(f, ['證券代號']);\n      const nameIdx = lookup(f, ['證券名稱']);\n      const closeIdx = lookup(f, ['收盤價']);\n      const dirIdx = lookup(f, ['漲跌(+/-)']);\n      const diffIdx = lookup(f, ['漲跌價差']);\n      if ([codeIdx, nameIdx, closeIdx, dirIdx, diffIdx].some((i) => i === -1)) {\n        throw new Error(`MI_INDEX 每日行情表 schema 不符預期。fields=${JSON.stringify(f)}`);\n      }\n      const ups = [];\n      const downs = [];\n      for (const r of stocksTable.data || []) {\n        const close = toNum(r[closeIdx]);\n        const diff = toNum(r[diffIdx]);\n        const dirHtml = String(r[dirIdx] || '');\n        const sign = dirHtml.includes('red') ? 1 : dirHtml.includes('green') ? -1 : 0;\n        if (close <= 0 || sign === 0) continue;\n        const prev = close - sign * diff;\n        if (prev <= 0) continue;\n        const pct = (sign * diff) / prev * 100;\n        const item = {\n          code: String(r[codeIdx] || '').trim(),\n          name: String(r[nameIdx] || '').trim(),\n          pct: Math.round(pct * 100) / 100,\n        };\n        if (pct >= 9.9) ups.push(item);\n        else if (pct <= -9.9) downs.push(item);\n      }\n      limitUpCount = ups.length;\n      limitDownCount = downs.length;\n      limitUpText = ups.length === 0 ? '無' : ups.slice(0, topN).map((r) => `${r.code} ${r.name} (+${r.pct.toFixed(2)}%)`).join('、') + (ups.length > topN ? ` 等共 ${ups.length} 檔` : '');\n      limitDownText = downs.length === 0 ? '無' : downs.slice(0, topN).map((r) => `${r.code} ${r.name} (${r.pct.toFixed(2)}%)`).join('、') + (downs.length > topN ? ` 等共 ${downs.length} 檔` : '');\n    }\n\n    // 大盤 — 找價格指數表，挑「發行量加權股價指數」\n    const priceTable = tables.find((t) => {\n      const f = t && t.fields;\n      return Array.isArray(f) && f.includes('指數') && f.includes('收盤指數') && f.includes('漲跌(+/-)');\n    });\n    if (priceTable) {\n      const f = priceTable.fields;\n      const idxIdx = lookup(f, ['指數']);\n      const closeIdx = lookup(f, ['收盤指數']);\n      const dirIdx = lookup(f, ['漲跌(+/-)']);\n      const ptsIdx = lookup(f, ['漲跌點數']);\n      const pctIdx = lookup(f, ['漲跌百分比(%)']);\n      const taiex = (priceTable.data || []).find((r) => String(r[idxIdx] || '').includes('發行量加權股價指數'));\n      if (taiex) {\n        const dirHtml = String(taiex[dirIdx] || '');\n        const sign = dirHtml.includes('red') ? '+' : dirHtml.includes('green') ? '-' : '';\n        taiexText = `加權指數 ${taiex[closeIdx]}（${sign}${taiex[ptsIdx]} 點 / ${sign}${taiex[pctIdx]}%）`;\n      }\n    }\n  }\n} catch (e) {\n  if (String(e.message || '').includes('schema 不符預期')) throw e;\n}\n\n// ---------- 3. CNYES 新聞 ----------\nlet newsText = '資料暫缺';\ntry {\n  const cn = $('CNYES 新聞').first().json;\n  const list = (cn && cn.items && cn.items.data) || [];\n  if (Array.isArray(list) && list.length > 0) {\n    const decode = (s) => String(s || '')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&amp;/g, '&')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      .replace(/&nbsp;/g, ' ');\n    const top3 = list.slice(0, 3).map((n, i) => {\n      const title = decode(n.title || '').trim();\n      const summary = decode(n.summary || '').replace(/\\s+/g, ' ').trim();\n      const short = summary.length > 80 ? summary.slice(0, 80) + '…' : summary;\n      return `${i + 1}. ${title}${short ? `\\n   ${short}` : ''}`;\n    });\n    newsText = top3.join('\\n');\n  }\n} catch (e) {\n  // 新聞失敗不阻斷工作流\n}\n\n// ---------- 組 prompt 變數 ----------\nconst noDataMode = !hasT86;\n\nreturn [\n  {\n    json: {\n      date: dateStr,\n      weekday,\n      prompt_style: promptStyle,\n      watchlist: watchlist.length === 0 ? '（未設定）' : watchlist.join(', '),\n      top_n: topN,\n      foreign_top_buy_text: foreignTopBuyText,\n      foreign_top_sell_text: foreignTopSellText,\n      limit_up_count: limitUpCount,\n      limit_down_count: limitDownCount,\n      limit_up_text: limitUpText,\n      limit_down_text: limitDownText,\n      taiex_text: taiexText,\n      news_text: newsText,\n      no_data_mode: noDataMode,\n    },\n  },\n];\n",
        "mode": "runOnceForAllItems"
      },
      "notes": "整理三路資料 → 餵給 AI 的 prompt 變數。要點：\n• 欄位用名稱查 index（TWSE 改欄位順序時 throw error 比默默產出爛資料安全）\n• 外資買賣超用「千股」而非金額（TWSE 原始即股數，估金額需均價會失準）\n• 漲跌停判定：sign × 漲跌價差 ÷ (收盤價 − sign × 漲跌價差) ≥ 9.9%\n• 假日 / 盤前資料未出時降級為「無資料」訊息，不 crash\n• schema 真改了會 throw — 把錯誤訊息回報 floviq 支援"
    },
    {
      "id": "openai-summarize",
      "name": "OpenAI 摘要",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1248,
        304
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是專業的台股晨間情報整理員，任務是把今日盤前資料整理成投資族能在 30 秒讀完的精煉訊息，並輸出為結構化 JSON。你是「資訊整理工具」，不是投顧、不是訊號服務。\n\n【嚴格規則 — 違反會造成法律問題，任何情況都不可違反】\n1. 絕對不可使用「買進」「賣出」「應該買」「建議賣」「進場」「出場」「跟單」等明確投資建議用語\n2. 不可預測股價未來漲跌（不可說「會漲」「將跌」「目標價」「上看 X 元」）\n3. 不可承諾任何投資績效或報酬率\n4. 不可用「機會難得」「不容錯過」「保證獲利」「穩賺」等煽動性字眼\n5. 所有輸出必須帶風險聲明（disclaimer 欄位）\n6. 不可推薦特定金融商品，只能描述已發生的市場事實\n\n【內容方針】\n- 每段 sections.lines 控制 2~3 行，每行 30~50 字\n- 用具體數字描述事實（如「外資買超 12,300 千股」），不用「大量」「不少」這種模糊詞\n- 描述外資買賣超「規模感」時用語意化詞彙（如「大舉敲進」「重壓」「轉手調節」），不直接寫億元金額（資料源是股數，金額需估價會失準）\n- 風險提醒要具體（例「指數高檔震盪」「美股 ADR 夜盤走弱」），不可只寫「注意風險」\n\n【語氣】\n- 像晨間財經主播：專業、中性、不冷漠\n- 全文不超過 280 字（中文字數）\n- emoji 節制（每段 lines 最多 0~1 個）\n- headline 一句話總結市場氛圍，不帶買賣建議\n\n【prompt_style 對應的語氣調整】\n- 保守：用詞最謹慎，多使用「觀察」「留意」等中性詞\n- 中性：標準晨間主播語氣（預設）\n- 活潑：節奏稍快但仍中性，可用「焦點落在...」「市場目光集中在...」等開場\n\n【輸出 JSON Schema — 必須完全符合】\n{\n  \"headline\": \"一句話總標，描述今日盤前氛圍（不帶買賣建議）\",\n  \"sections\": [\n    {\"title\": \"外資動向\", \"lines\": [\"...\", \"...\"]},\n    {\"title\": \"漲跌停焦點\", \"lines\": [\"...\"]},\n    {\"title\": \"新聞重點\", \"lines\": [\"...\"]}\n  ],\n  \"watchlist_alerts\": [\"如果使用者自選股出現在 top 法人 / 漲跌停才寫；否則回空陣列 []\"],\n  \"disclaimer\": \"本資訊僅供參考，不構成投資建議，投資請自行評估風險\"\n}\n\n【特殊情況處理】\n- 若收到的資料某段為空（例：CNYES 新聞抓取失敗、假日無 TWSE 資料），對應 section 仍要輸出，lines 寫「資料暫缺，請稍後再查證」\n- 若 watchlist 為空陣列，watchlist_alerts 直接回 []\n- 不可額外輸出 JSON 以外的任何文字（不要 markdown code fence、不要前後說明）"
            },
            {
              "role": "user",
              "content": "=請根據以下今日盤前資料，產出晨間情報 JSON。\n\n【日期】{{ $json.date }} （週{{ $json.weekday }}）\n【語氣偏好】{{ $json.prompt_style }}\n【自選股清單】{{ $json.watchlist }}\n\n【外資買超 Top {{ $json.top_n }}（單位：千股）】\n{{ $json.foreign_top_buy_text }}\n\n【外資賣超 Top {{ $json.top_n }}（單位：千股）】\n{{ $json.foreign_top_sell_text }}\n\n【漲停股票（{{ $json.limit_up_count }} 檔）】\n{{ $json.limit_up_text }}\n\n【跌停股票（{{ $json.limit_down_count }} 檔）】\n{{ $json.limit_down_text }}\n\n【大盤】\n{{ $json.taiex_text }}\n\n【財經新聞 Top 3】\n{{ $json.news_text }}\n\n請輸出符合 schema 的 JSON。不要額外文字、不要 markdown code fence。"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ON_IMPORT",
          "name": "OpenAI"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notes": "AI 摘要引擎。要點：\n• 用 gpt-4o-mini（30× 便宜於 4o，結構化任務夠用）\n• temperature 0.3 讓每天訊息有變化但不漂移\n• response_format 強制 JSON\n• 系統訊息嵌入合規規則（不可改不可移）\n• 改 prompt → 同步改 prompts/summary-prompt.md\n\n【需要 Credentials】\nOpenAI API key（platform.openai.com 申請，free tier 即可，每月成本約 NT$ 0.3）。"
    },
    {
      "id": "compose-message",
      "name": "Compose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        304
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// floviq · pre-market-briefing · compose Telegram message from AI JSON\n// 輸入：OpenAI node 回的 message.content (JSON 字串) 或 已 parse 的物件\n// 輸出：純文字訊息（避免 Markdown 特殊字元 escape 風險）\n\nconst input = $input.first().json;\n\n// 找 AI JSON：langchain openAi node 通常把結果放 message.content 或 content\nlet aiRaw =\n  input?.message?.content ??\n  input?.choices?.[0]?.message?.content ??\n  input?.content ??\n  input;\n\nlet ai;\nif (typeof aiRaw === 'string') {\n  // 去掉可能的 markdown code fence\n  const cleaned = aiRaw.trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/g, '').trim();\n  try {\n    ai = JSON.parse(cleaned);\n  } catch (e) {\n    throw new Error(`AI JSON parse 失敗：${e.message}。原始輸出：${aiRaw.slice(0, 200)}`);\n  }\n} else if (typeof aiRaw === 'object' && aiRaw !== null) {\n  ai = aiRaw;\n} else {\n  throw new Error(`無法從 OpenAI node 取得內容。input keys=${Object.keys(input || {}).join(',')}`);\n}\n\n// schema 防呆\nconst headline = String(ai.headline || '盤前情報').trim();\nconst sections = Array.isArray(ai.sections) ? ai.sections : [];\nconst watchlistAlerts = Array.isArray(ai.watchlist_alerts) ? ai.watchlist_alerts : [];\nconst disclaimer = String(ai.disclaimer || '本資訊僅供參考，不構成投資建議，投資請自行評估風險').trim();\n\nconst tpe = $now.setZone('Asia/Taipei');\nconst dateStr = tpe.toFormat('yyyy-MM-dd');\nconst weekdayMap = ['日', '一', '二', '三', '四', '五', '六'];\nconst weekday = weekdayMap[tpe.weekday % 7];\n\nconst lines = [];\nlines.push(`📊 ${dateStr} (週${weekday}) ${headline}`);\nlines.push('');\nfor (const sec of sections) {\n  const title = String(sec?.title || '').trim();\n  const body = Array.isArray(sec?.lines) ? sec.lines : [];\n  if (!title || body.length === 0) continue;\n  lines.push(`【${title}】`);\n  for (const ln of body) {\n    const s = String(ln || '').trim();\n    if (s) lines.push(s);\n  }\n  lines.push('');\n}\nif (watchlistAlerts.length > 0) {\n  lines.push('【自選股提醒】');\n  for (const ln of watchlistAlerts) {\n    const s = String(ln || '').trim();\n    if (s) lines.push(s);\n  }\n  lines.push('');\n}\nlines.push('—');\nlines.push(`※ ${disclaimer}`);\nlines.push('資料來源：TWSE / 鉅亨網');\n\nreturn [{ json: { text: lines.join('\\n') } }];\n",
        "mode": "runOnceForAllItems"
      },
      "notes": "把 AI 回的 JSON 拼成純文字訊息。\n• 不用 MarkdownV2（台股代號帶括號 escape 太多坑）\n• schema 異常時用 fallback 值不 crash\n• 結尾固定帶 disclaimer 與資料來源（合規必帶）"
    },
    {
      "id": "telegram-send",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        304
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Config').item.json.telegramChatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ON_IMPORT",
          "name": "Telegram Bot"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "推到 Telegram。需要：\n(1) 上方 Credentials 連到你的 Telegram Bot credential\n(2) chat_id 從 Config node 讀\n發純文字 + emoji，不設 parse_mode（避免台股名稱含括號的 escape 問題）。"
    },
    {
      "id": "sticky-overview",
      "name": "說明 · 整體",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        -180
      ],
      "parameters": {
        "content": "## 📊 floviq · 台股盤前情報推播（Free）\n\n每個交易日早上自動抓台股盤後資料（外資買賣超 / 漲跌停 / 新聞）→ AI 整理摘要 → 推送到你的 Telegram。\n\n### 📋 第一次設定\n\n1. 開 **Config** node 填 `telegramChatId` 與其他選項\n2. **OpenAI 摘要** node 選 OpenAI credential\n3. **Telegram** node 選 Telegram Bot credential\n4. 點 **Execute Workflow** 試跑一次\n5. 收到訊息 → 把 **Schedule** node 改 active 啟用排程\n\n### 💡 想要更多？\n\n付費版加值：LINE Flex 視覺卡片、Discord、自選股 highlight、AI prompt 完整客製、產業關鍵字、警示閾值\n",
        "height": 440,
        "width": 460,
        "color": 4
      }
    },
    {
      "id": "sticky-config",
      "name": "說明 · Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        420
      ],
      "parameters": {
        "content": "## ⚙️ Config 設定\n\n### 必填\n\n- **telegramChatId**：你的 Telegram chat ID（私訊 bot 後訪問 `https://api.telegram.org/bot<TOKEN>/getUpdates` 可查）\n\n### 選填\n\n- **topN**：每段顯示前幾名（預設 5）\n- **watchlist**：自選股代號清單，逗號分隔（Free 版預留欄位，Paid 版啟用 highlight）\n- **promptStyle**：AI 摘要語氣，三選一\n  - `保守` — 純資訊不加形容\n  - `中性` — 預設，平衡描述\n  - `活潑` — 帶情緒詞句\n\n### 📌 環境提示\n\n- **self-host 用戶**：環境變數從 docker-compose 或 `.env` 設定\n- **n8n cloud 用戶**：環境變數從 Settings → Variables 設定\n\n兩者欄位名稱相同，只是設定位置不同。\n",
        "height": 480,
        "width": 300,
        "color": 5
      }
    },
    {
      "id": "sticky-openai",
      "name": "說明 · OpenAI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1208,
        -136
      ],
      "parameters": {
        "content": "## 🤖 OpenAI 摘要\n\n### Credential 設定\n\n1. `https://platform.openai.com/api-keys` 建一把 API key\n2. n8n → Credentials → New → 找 **OpenAI** → 貼上 → Save\n3. 回到本 node 的 Credential 下拉選剛建的\n\n### 成本估算（tiktoken 精確算）\n\n- 模型：`gpt-4o-mini`\n- 每次執行 ≈ **$0.0004 USD**\n- 月費（每交易日 1 次 × 22 日）≈ **$0.009 USD**（約 NT$ 0.3）\n- 建議帳戶儲值 $5 USD 起跳（約可跑 1 年以上）\n\n### 出錯時\n\n- `401 Unauthorized` → API key 錯，重貼\n- `429 quota` → 帳戶沒儲值或超限\n- 紅框 typeVersion → n8n 版本過舊，升級到 1.40+\n",
        "height": 400,
        "width": 320,
        "color": 6
      }
    },
    {
      "id": "sticky-telegram",
      "name": "說明 · Telegram",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1602,
        -136
      ],
      "parameters": {
        "content": "## 💬 Telegram 推播\n\n### Credential 設定\n\n1. Telegram 開啟 BotFather → `/newbot` → 拿到 token\n2. n8n → Credentials → New → 找 **Telegram** → 貼上 → Save\n3. 回到本 node 的 Credential 下拉選剛建的\n\n### 取得 chat ID\n\n**私訊**：\n- 你私訊 bot 一句話\n- 訪問 `https://api.telegram.org/bot<TOKEN>/getUpdates`\n- 找 `chat.id`（正整數）→ 填進 Config\n\n**群組**：\n- 把 bot 加入群組（管理員權限）\n- 在群組傳一句話 → 訪同上 URL\n- `chat.id` 是負整數（含負號）\n\n### 出錯時\n\n- `400 chat not found` → chat_id 錯或 bot 沒加進該 chat\n- `401 Unauthorized` → bot token 錯\n",
        "height": 400,
        "width": 320,
        "color": 3
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "TWSE 法人買賣超",
            "type": "main",
            "index": 0
          },
          {
            "node": "TWSE 大盤行情",
            "type": "main",
            "index": 0
          },
          {
            "node": "CNYES 新聞",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWSE 法人買賣超": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TWSE 大盤行情": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CNYES 新聞": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "OpenAI 摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 摘要": {
      "main": [
        [
          {
            "node": "Compose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "pinData": {},
  "staticData": null
}